/* linking google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

/* base rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat',sans-serif;
}
p{
    font-family: 'Nunito',sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #b8bbbe;
}

.r-p{
    padding-top: 40px;
    padding-bottom: 40px;

}

/* Navigation */
.r-nav .navbar-nav li{
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
   
}
.r-nav .navbar-nav li a{
    color: #000;
   
}
/* Home section */

.carousel-item img{
    width: 100%;
    height: 80vh;

}
.carousel-item button{
    background: rgb(75, 74, 74);
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    transition: 1s ease-in;
    outline: none;
    border: none;
    
}
.carousel-item button:hover{
    background: rgb(63, 63, 155);
}
/* product section */
.card-body a{
    color: rgb(141, 141, 141);
    font-size:15px ;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.card-body a:hover{
    color: rgb(81, 81, 160);
}
