/* linking google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

/* base rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat',sans-serif;
}
p{
    font-family: 'Nunito',sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

.r-p{
    padding-top: 40px;
    padding-bottom: 40px;

}

/* Navigation */
.r-nav .navbar-nav li{
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
   
}
.r-nav .navbar-nav li a{
    color: #000;
   
}
/* Home section */

.carousel-item img{
    width: 100%;
    height: 80vh;

}
.carousel-item button{
    background: rgb(75, 74, 74);
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    transition: 1s ease-in;
    outline: none;
    border: none;
    
}
.carousel-item button:hover{
    background: rgb(63, 63, 155);
}
/* product section */
.card-body a{
    color: rgb(141, 141, 141);
    font-size:15px ;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.card-body a:hover{
    color: rgb(81, 81, 160);
}
.col-1:hover .card img{
    width: 400px;

}
.col-1 .overlay {
    position: absolute;
    
   
   
    opacity:0 ;
    transition: 1s ease;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
  .col-1:hover .overlay {
    opacity: 1;}

    .col-1 .overlay .button{
       
        width: 400px;
        height: 200px;
        background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-1 .overlay .button button{
        border-radius: 20px;
        background: rgb(94, 94, 94);
        border: none;
        transition: .5s ease-in;
        
        

    }
    .col-1 .overlay .button button:hover{
        background: rgb(0, 174, 255);
        color: #fff;
    }
    /* Detail section */
  .col-2 .product .main-img img{
      max-width: 400px;
      max-height: 400px;
  }
  .col-2 .product .main-img img:hover{
    transform: scale(1.1);
  }
  .col-2 .product .thumb-img img{
      width: 100px;
      height: 100px;
     padding: 10px;
      
     
      

  }
  .col-2 .product .thumb-img .box{
      margin-left: 10px;
      border:1px solid #000;
      cursor: pointer;
      
      width: 100px;
      height :100px;
      display: inline-block;
  }
  .quantity{
      display: flex;
      justify-content: center;
  }
  .quantity button{
     font-weight: bolder;

      width: 45px;
      height: 45px;
      border: 1px solid #000 ;
      color: #000;
      background: #fff;
  }
  .quantity input{
      width: 70px;
      border-top:1px solid #000;
      border-bottom:1px solid #000 ;
      text-align: center;
  }
  .btn-1{
      width: 200px;
      height: 60px;
      border-radius: 30px;
      border: 2px solid #333;
      outline: none;
      background: none;
  }
  .btn-2{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background:#333 ;
    border: none;
    color: white;
    transition: .5s ease;

  }
  .btn-2:hover{
    border: 2px solid #333;
   
    

  }
  /* catagories section */
  #catagories .col-3  .card{
    position: relative;
    margin: auto;
    overflow: hidden;
    
      

  }
  #catagories .col-3  .card a img{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
  }
  #catagories .col-3  .card a img:hover{
    transform: scale(1.1);
}
#catagories .col-3  .card a .s-img{
    width: 300px;
}
  
  

